# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environment
venv/
env/
myenv/
ENV/
.venv/
.env/

# VS Code settings
.vscode/

# Pytest cache
.pytest_cache/

# Test results
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# MyPy cache
.mypy_cache/

# Pyre type checker
.pyre/

# Profiling data
*.prof
*.pstats
*.dat

# Logs and temp files
*.log
*.tmp
*.bak
*.swp

# IDEs
.idea/
*.sublime-project
*.sublime-workspace

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Docker-related
*.pid
*.pid.lock

# macOS
.DS_Store

# Backup files
*~